body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1 {
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  margin: 30px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
  color: white;
}

p {
  color: white;
  margin: 20px;
}

.container {
  max-width: 1150px;
}

.container-big {
  max-width: 1300px;
  margin: 0 auto;
}

.container-big::after {
  content: "";
  display: table;
  clear: both;
}

.list-inline li {
  display: inline-block;
  padding: 0 10px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.header-nav a {
  color: #3f3f3f;
  line-height: 60px;
  font-size: 12px;
}

.header-nav .menu li {
  padding: 0 10px;
}

.header-nav img {
  vertical-align: middle;
  height: 14px;
}

.jumbotron {
  position: relative;
  height: 500px;
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.jumbotron-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.helbizgo,
.helbizbike {
}

.products .box {
  margin: 20px 0;
  background: #fafafa;
}

.products p {
  color: black;
}

.products img {
  max-height: 300px;
}

/* How works */
.how-works {
  height: 400px;
  margin-bottom: 200px;
  background-image: url("../img/helbiz-banner.jpg");
  background-size: cover;
  background-position: left center;
}

.how-works .col-left,
.how-works .col-right {
  margin-top: 450px;
}

.how-works .col-left {
  text-align: right;
}

.how-works .col-left .text {
  display: inline-block;
  text-align: left;
}

.how-works .col-left h3 {
  font-size: 30px;
  font-weight: 600;
}

.how-works .col-right .text {
  padding-top: 10px;
}


@media screen and (min-width: 992px) {
  .desktop {
    display: block;
  }

  .how-works .phone {
    margin-top: 100px;
    text-align: center;
  }

  .how-works .phone img {
    max-height: 600px;
    max-width: 100%;
  }

  .how-works {
    background-position: center center;
    margin-bottom: 400px;
  }

  .mobile {
    display: none;
  }
}

/* Box info */

/* mobility */
.mobility {
  position: relative;
  height: 400px;
  margin-top: 100px;
  background-image: url("../img/scooter-bg.jpg");
  background-size: cover;
}

.mobility .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  padding: 0 80px;
}


/* app */
.app {
  height: 400px;
  background-color: grey;
  background-image: url("../img/helbiz-app.png");
  background-position: bottom center;
  background-size: 80%;
  background-repeat: no-repeat;
}

/* find */
.find {
  height: 400px;
  background-image: url("../img/cities.jpg");
  background-size: cover;
}

/* social banner */
.social-banner {
  position: relative;
  height: 300px;
  background-image: url("../img/social-banner.jpg");
  background-size: cover;
}

.social-banner .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 30px;
  color: black;
}

.social-banner .text a {
  color: black;
}

/* FOOTER */

footer {
  background: black;
}

footer h5 {
  color: white;
}

.columns-menu {
  padding: 10px 0;
  border-bottom: 1px solid white;
}

footer .link {
  padding: 10px 0;
  border-bottom: 1px solid white;
}
