body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1 {
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  margin: 30px;
}

a {
  text-decoration: none;
}

p {
  color: #fff;
  margin: 20px;
}

.container {
  max-width: 1150px;
}

.container-big {
  max-width: 1300px;
  margin: 0 auto;
}

.container-big::after {
  content: "";
  display: table;
  clear: both;
}

.list-inline li {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.header-nav a {
  color: #3f3f3f;
  line-height: 60px;
  font-size: 12px;
}

.header-nav .menu li {
  padding: 0 10px;
}

.header-nav img {
  vertical-align: middle;
  height: 14px;
}

.jumbotron {
  position: relative;
  height: 500px;
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.jumbotron-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.helbizgo,
.helbizbike {
}

.products .box {
  margin: 20px 0;
  background: #fafafa;
}

.products p {
  color: black;
}

.products img {
  max-height: 300px;
}

@media screen and (min-width: 768px) {
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
}
